

@keyframes slideshow {
    0% {background-image: url("https://porc.netcdn.ro/media/mageing/slider/slideritem/l/a/landing07012021.jpg")}
    25% {background-image: url("https://porc.netcdn.ro/media/mageing/slider/slideritem/l/a/landing_15012021.jpg")}
    50% {background-image: url("https://porc.netcdn.ro/media/mageing/slider/slideritem/l/a/landing_17122020.jpg")}
    75% {background-image: url("https://porc.netcdn.ro/media/mageing/slider/slideritem/l/a/landing23012021.jpg")}
    100% {background-image: url("https://porc.netcdn.ro/media/mageing/slider/slideritem/l/a/landing23122020.jpg")}

}



.banner-image {
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-position: center;
    width: 100vw;
    height: 100vh;
    animation-name: slideshow;
    animation-duration: 20s;
    transition: 0.3s;
    animation-iteration-count: infinite;

}










